body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

nav {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
}
form {
    display: block;
    margin-top: 0em;
}
.navText{
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto";
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 25px !important;
    float: left;
}

.navActive{
  border-top: 2px solid #c0ca33;
  color:#000;
}

.navMargin{
  margin:0;
}

#step_one,
#step_three {
  background-color: #78909c;
}

#step_two,
#step_four {
  background-color: #0288d1;
}

#step_five{
  background-color: #fafafa; 
}

#step_six{
  background-color: #78909c;
}

.clearBoth{
  clear:both;
  padding-bottom: 33px;
  padding-top: 33px;
}


.right{
  float:right;
}

.left{
  float:left;
}

.smallImg{
  margin-right: 25px;
}

.footerLi{
  color: #9b9b9b;
  float: left;
  font-size: 15px;
  font-weight: 400;
  padding-right: 25px;
}

.footerLiLeft{
  margin-left: 30px;
  color: #9b9b9b;
  font-size: 15px;
  font-weight: 400;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer i {
  font-size: 32px;
  margin-top: 10px;
}

#home .footer,
#step_two .footer  {
  background-color: #78909c;
}

#step_one .footer,
#step_three .footer {
  background-color: #0288d1;
}

#fiveFooter .footer{
  background-color: #fff !important; 
  color: #000;
}

#step_six .footer{
  background-color: #fff;
}


#home .footer i {
  position: absolute;
  font-size: 32px;
  margin-top: 10px;
  margin-left: 5px;
}
#home .container, #home .row{
  top:15%;
}
#home .fp-tableCell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

/*# HOME PAGE */

#home {
  background-size: cover;
  background-image: url(../img/home_bg.jpg);
  background-position: 100% -50px;
  height:100%;
}

#home h1 {
  font-size: 52px;
}

#home h3 {
  font-weight: 200;
}

#home img {
  right: 0;
  bottom: 60px;
  height: 80%;
  position: fixed;
}

#home,
#step_one,
#step_two,
#step_four,
#step_three {

}

.text1{
  font-size: 24px;
  font-weight: 300;
}

.text2{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 22px;
}

.text3{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.7;
    opacity: 0.8;
    text-transform: uppercase;
}

.text4{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0.8;
}

.footer {
  width: 100%; 
  bottom: 0;
  height: 50px;
  /*display: none;*/
  position: absolute;
  font-size: 18px;
  font-weight: 200;
  line-height: 50px;
  color: #fff;
}
.mainFooter{
  width: 100%; 
  bottom: 0;
  height: auto;
  /*display: none;*/
  position: absolute;
  font-size: 18px;
  font-weight: 200;
  line-height: 50px;
  color: #fff;
}



/*# WHY PAGE */

#why {
    background-image: url("../why_carzar.jpg");
    background-size: cover;
    padding: 0px 0;
}

#why h1 {
  font-size: 52px;
}

#why h3 {
  font-weight: 200;
}

#why img {
  right: 0;
  bottom: 60px;
  height: 80%;
  position: fixed;
}
.iPhone {
  position:absolute;
  z-index: 1000;
  width: 200px;
  top:150px;
  left:420px;
}

.screen{
  width: 560px;
}

.bigText{
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -3.3px;
    line-height: 1.3;
}

.medText{
  color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 1.5;
    opacity: 0.8;
    text-align: center;
}

.whyIcon{
  float: left;
  margin-bottom: 15px;
  margin-right: 25px;
  width: 70px;
}

.whySmText{
  clear:both;
}

.whyMedText{
    color: #fff;
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    opacity: 1;
    text-transform: unset;
}

#step_six .moveSectionDown {
    color: #000 !important;
}

#step_top .footer{
  background-color: #0288d1;
}
.form_container{
  max-width: 496px;
  padding: 25px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
#home h1{
  margin-top:3em;
}
.form_container h2{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 24px;
  margin-top: 0;
}
.form_container .mdl-button {
  width: 100%;
  height: 48px;
  background-color: #c0ca33;
  color: #fff;
}
.home_form{
  position: absolute;
  top: 65%;
  z-index: 110;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 490px;
  z-index: 500;
  width: 100%;
  max-width: 1024px;
  z-index: 500;
  left: 17%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.home_form.home_fixed{
  position:fixed;
  top:50%;
  bottom: inherit !important;
}
.home_form .form_container{
  margin: 0 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4)
}
.home_form .home_form_hidden{
  display: none;
}
.form_container p {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.54);
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 16px;
}
.offset{
  margin-left: 6%;
}

#subnav{
  position: absolute;
  top:50px;
  width: 100%;
  height:50px;
  background:#616161;
  z-index: 999;
  margin:0 auto;
}
#subnav #menu{
  list-style: none;
  margin:0 auto;
  text-align: center;
  text-transform: uppercase;
  color:#fff;
}
#subnav #menu li{
  display: inline-block;
  margin:0;
  padding: 1.1em 2em;
}
#subnav #menu li a{
  color:white;
  text-decoration: none;
}
#subnav #menu .active{
  background:rgba(0, 0, 0, 0.12);
}
#subnav #menu #first{
  display:none;
}

/* #c0ca33 */

.mdl-textfield__input {
  padding: 10px 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: none;
  text-align: left;
  color: gray;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
*:focus {
    outline: none;
}

.mdl-button--raised {
    background: rgba(158,158,158,0.20);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}
.mdl-button {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4,0,1,1),background-color 0.2s cubic-bezier(0.4,0,0.2,1),color 0.2s cubic-bezier(0.4,0,0.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
.mdl-textfield--floating-label .mdl-textfield__label {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mdl-textfield__label {
    padding-left: 17px;
    box-sizing: border-box;
    font-weight: 600;
}
.mdl-textfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.clear-input {
    display: none;
    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}
.plate-tooltip {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 24px;
    height: 24px;
}
textfield.is-disabled .mdl-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26);
}
.ui-widget {
    max-height: 200px;
    overflow-x: hidden;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.form_section{
  margin-bottom: 20px;
}

/* MDL FORMATTING */

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0; }
.mdl-textfield .mdl-button {
    position: absolute;
    bottom: 20px; }

.mdl-textfield--align-right {
    text-align: right; }

.mdl-textfield--full-width {
    width: 100%; }

.mdl-textfield--expandable {
    min-width: 32px;
    width: auto;
    min-height: 32px; }

.mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit; }
.mdl-textfield__input[type="number"] {
    -moz-appearance: textfield; }
.mdl-textfield__input[type="number"]::-webkit-inner-spin-button, .mdl-textfield__input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
.mdl-textfield.is-focused .mdl-textfield__input {
    outline: none; }
.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgb(213,0,0);
    box-shadow: none; }
fieldset[disabled] .mdl-textfield .mdl-textfield__input,
.mdl-textfield.is-disabled .mdl-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26); }

.mdl-textfield textarea.mdl-textfield__input {
    display: block; }

.mdl-textfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left; }
.mdl-textfield.is-dirty .mdl-textfield__label,
.mdl-textfield.has-placeholder .mdl-textfield__label {
    visibility: hidden; }
.mdl-textfield--floating-label .mdl-textfield__label {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    transition: none; }
fieldset[disabled] .mdl-textfield .mdl-textfield__label,
.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    color: rgba(0,0,0, 0.26); }
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #c0ca33;
    font-size: 12px;
    top: 4px;
    visibility: visible; }
.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label {
    top: -16px; }
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: rgb(213,0,0);
    font-size: 12px; }
.mdl-textfield__label:after {
    background-color: #c0ca33;
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px; }
.mdl-textfield.is-focused .mdl-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%; }
.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: rgb(213,0,0); }

.mdl-textfield__error {
    color: rgb(213,0,0);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block; }
.mdl-textfield.is-invalid .mdl-textfield__error {
    visibility: visible; }

.mdl-textfield__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; }
.mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    max-width: 600px; }
.mdl-textfield__expandable-holder .mdl-textfield__label:after {
    bottom: 0; }